# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
llama_index
langchain_community
llama-index-embeddings-langchain
llama-index-embeddings-huggingface
sentence-transformers
bitsandbytes
accelerate
faiss-cpu
llama-index-vector-stores-faiss
langchain-huggingface
PyMuPDF
tenacity
notebook
flask
streamlit
streamlit-pdf-viewer
pdf2image
st-star-rating
streamlit-text-rating
ragas